$main-color: #ff6033;
$text-main-color: #262626;
$light: #f9f8fb;
$white: white;
$about-section-color: #00bbbb;

$H1: 13px;
$H2: 15px;
$H3: 16px;
$H4: 17px;
$H5: 20px;
$H6: 21px;
$H7: 25px;
$H8: 32px;
$H9: 40px;
$H10: 50px;
$H11: 60px;
$H12: 90px;

$base-font: 'Raleway';
$logo-font: 'Pacifico';

$max-width: 1200px;






