.section {
	padding: 80px 24px 120px;
	background-color: $bg-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-size: $section-title-fs;
		font-weight: 700;
		color: $white;
		margin-bottom: 24px;
	}
	&__description {
		font-size: $section-description-fs;
		line-height: 1.5;
		font-weight: 300;
		color: $white;
		max-width: 570px;
		text-align: center;
		margin-bottom: 44px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		@extend %container;
		margin-bottom: 50px;
	}
	&__list--item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}
