.blog-card {
	height: 300px;
	min-width: 300px;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: all 0.2s ease;
	cursor: pointer;
	@include media {
		&:hover {
			box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
		}
	}
	&__image {
		@extend %image-absolute;
		object-fit: cover;
	}
	&__date-box {
		position: absolute;
		top:30px;
		left: 30px;
		width: 60px;
		height: 60px;
		opacity: 0.5;
		background-color: #262626;
		border-radius: 5.0px;
		text-align: center;
	}
	&__date {
		@include text($H600, 700, $white);
	}
	&__date-month {
		@include text($H400, 900, $white);
		text-transform: uppercase;
		margin-bottom: 15px;
	}
	&__content {
		width: 100%;
		position: relative;
		z-index: 1;
		padding: 20px;
		background-image: linear-gradient(0.0deg, rgba(0,0,0,0.89) 0%, rgba(255,255,255,0) 100%);
	}
	&__title {
		@include text($H300, 700, $white);
		margin-bottom: 20px;
	}
	&__info {
		@include text($H10, 300, $white);
	}

}