.input {
	height: 50px;
	background-color: $input-bg;
	opacity: 0.5;
	padding: 0 15px;
	border: none;
	outline: none;
	border-left: 5px solid transparent;
	@include text($H50, 300, $white);
	transition: all ease 0.2s;
	
	&::placeholder {
		@include text($H50, 300, $white);
	}
	&:focus {
		opacity: 1;
		border-color: $input-focus-border;
	}
	&:invalid:not(:placeholder-shown) {
		border-color: $input-error-border;
	}
	&:valid:not(:placeholder-shown) {
		border-color: $input-valid-border;
	}

	&--texarea {
		height: 250px;
		padding-top: 20px;
	}
}

