.link-card {
	min-height: 100px;
	width: 100%;
	background-color: $white;
	text-align: center;
	@include flex;
	@media screen and (min-width: $screen-desktop) {
    	width: 400px;
    }
    &__text-wrapper {
    	flex: 1 1;
		@include flex(center, center);
		border-right: 1px solid $dark;
    } 
	&__text {
		@include text($H300, 700, $dark);
	}
	
	&__icon-wrapper {
		width: 100px;
		@include flex(center, center);
	} 
	&__icon {
		width: 60px;
		height: 60px;
	}   
}