@import "./caruseul-slick";
@import "./glide";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 25px;
    font-family: Poppins;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.title {
    font-size: 18px;
    line-height: 19px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #303030;
    text-align: center;
    margin-bottom: 30px;
}

.subtitle, .glide-title {
    max-width: 1040px;
    margin: 0 auto;
    text-align: center;
    font-size: 86px;
    line-height: 90px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 100px;
}

.slick-carousel {
    margin-bottom: 100px;
}

