@import url(weather-icons-wind.css);
@import url(weather-icons.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	border: 25px solid #2B81AC;
	padding: 35px 100px;
	height: 100vh;
	color: white;
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	background-color: #3399CC;
}
.title {
	padding-bottom: 35px;
	font-size: 44px;
}													
.list {
	margin: auto;
	list-style-type: none;
	font-size: 0;
	border: 3px solid white;
}
.list:hover .list__cities:not(:hover) {
	opacity: 0.5;
}
.list__cities {
	display: inline-block;
	padding: 50px 0 50px;
	color: white;
	border: 3px solid white;
	font-size: 44px;
	font-weight: 700;
	text-align: center;
	line-height: 75px;
}
/*.list__cities:before {
  content: '';
  display: inline-block;
  height: 60%;
  vertical-align: middle;
}*/
.list__lisbon {
	width: 50%;
	background-color: #3399CC;
}
.list__paris {
	width: 25%;
	background-color: #33CCCC;
}
.list__belgrade {
	width: 25%;
	background-color: #996699;
}
.list__moscow {
	width: 25%;
	background-color: #C24747;
}
.list__tel-aviv {
	width: 25%;
	background-color: #E2674A;
}
.list__cair {
	width: 25%;
	background-color: #FFCC66;
}
.list__NY {
	width: 25%;
	background-color: #99CC99;
}
.list__delhi {
	width: 25%;
	background-color: #669999;
}
.list__san-francisco {
	width: 50%;
	background-color: #CC6699;
}
.list__tokyo {
	width: 25%;
	background-color: #339966;
}
.list__sydney {
	width: 100%;
	background-color: #666699;
}
li .wi {
	opacity: 0.5;
}
.light {
	opacity: 0.5;
}
.footer__title {
	padding: 45px 0 140px;
	font-size: 38px;
}

