<section class="section-galery">
	<div class="container section-galery__container">
		<h2 class="section-galery__title">Gallery</h2>
		<p class="section-galery__description">
			Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<div class="section-galery__grid photo-grid">
			<div class="photo-grid__row">
				<div class="photo-grid__col photo-grid__col--large photo-grid__image-wrapper">
					<img src="images/galery/Clip-1.png" alt="clip-1">
				</div>
				<div class="photo-grid__col">
					<div class="photo-grid__row photo-grid__row--small photo-grid__image-wrapper">
						<img src="images/galery/Clip-2.png" alt="clip-2">
					</div>
					<div class="photo-grid__row photo-grid__row--small photo-grid__image-wrapper">
						<img src="images/galery/Clip-3.png" alt="clip-3">
					</div>
				</div>
			</div>

			<div class="photo-grid__row">
				<div class="photo-grid__col photo-grid__col--medium photo-grid__image-wrapper">
					<img src="images/galery/Clip-4.png" alt="clip-4">
				</div>
				<div class="photo-grid__col photo-grid__col--medium photo-grid__image-wrapper">
					<img src="images/galery/Clip-5.png" alt="clip-5">
				</div>
			</div>
		</div>
		<a class="button section-galery__button" href="#">VIEW MORE</a>
	</div>
</section>