<header class="header">
	<nav class="navigation">
		<h1 class="logo navigation__logo">Cahee</h1>
		<ul class="navigation__list">
			<li class="navigation__item">
				<a class="navigation__link" href="#">HOME</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link" href="#">ABOUT</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link" href="#">SERVICES</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link" href="#">GALLERY</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link" href="#">BLOG</a>
			</li>
			<li class="navigation__item">
				<a class="navigation__link" href="#">CONTACT</a>
			</li>
		</ul>
	</nav>
	<div class="container header__container">
		<section class="header__content">
			<h2 class="header__title">Fresh Life</h2>
			<p class="header__text">
				Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
			</p>
			<a class="button header__button" href="#">GET FREE NOW</a>
		</section>
		<div class="scroll header__scroll">
			<a href="">
				<img src="images/scroll_40.png" alt="scroll">
			</a>
		</div>
	</div>
</header>
