<section class="section-services">
	<div class=" container section-services__container">
		<div class="section-services__content-box">
			<ul class="section-services__list ">
				<li class="section-services__item">
					<a class="link-card" href="#">
						<div class="link-card__text-wrapper">
							<h3 class="link-card__text">Online Shopping</h3>
						</div>
						<div class="link-card__icon-wrapper">
							<img class="link-card__icon" src="images/services/basket.svg" alt="basket">
						</div>
					</a>
				</li>
				<li class="section-services__item">
					<a class="link-card" href="#">
						<div class="link-card__text-wrapper">
							<h3 class="link-card__text">Quality Product</h3>
						</div>
						<div class="link-card__icon-wrapper">
							<img class="link-card__icon" src="images/services/hand.svg" alt="hand">
						</div>
					</a>
				</li>
				<li class="section-services__item">
					<a class="link-card" href="#">
						<div class="link-card__text-wrapper">
							<h3 class="link-card__text">Domestic & International Delivery</h3>
						</div>
						<div class="link-card__icon-wrapper">
							<img class="link-card__icon" src="images/services/earth.svg" alt="earth">
						</div>
					</a>
				</li>
				<li class="section-services__item">
					<a class="link-card" href="#">
						<div class="link-card__text-wrapper">
							<h3 class="link-card__text">Well Organized</h3>
						</div>
						<div class="link-card__icon-wrapper">
							<img class="link-card__icon" src="images/services/carrot.svg" alt="carrot">
						</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="section-services__image-box">
			<h2 class="section-services__title">Our Services</h2>
			<div class="section-services__image-wrapper">
				<img class="section-services__image" src="images/services/services.png" alt="services">
			</div>
		</div>
	</div>
</section>