<section class="section-subscribe">
	<div class="container section-subscribe__container">
		<h2 class="section-subscribe__title">Subscribe To Us</h2>
		<p class="section-subscribe__description">
			Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
		</p>
		<form class="section-subscribe__form" action="#" method="get">
			<input class="section-subscribe__input" type="email" placeholder="Your email address..." >
			<input class="button section-subscribe__button" type="submit" name="submit" value="SUBSCRIBE">
		</form>
	</div>
</section>