@import url(weather-icons-wind.css);
@import url(weather-icons.css);

:root {
	--main-color: #3399CC ;
	--border-color: #2B81AC;
	--lisbon-color: #3399CC;
	--paris-color: #33CCCC;
	--belgrade-color: #996699;
	--moscow-color: #C24747;
	--tel-aviv-color: #E2674A;
	--cair-color: #FFCC66;
	--NY-color: #99CC99;
	--delhi-color: #669999;
	--san-francisco-color: #CC6699;
	--tokyo-color: #339966;
	--sydney-color: #666699;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 1468px;
	border: 25px solid var(--border-color);
	background-color: var(--main-color);
	color: white;
	font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}
.title {
	padding: 35px 0 35px 100px;
}													
.list {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 1226px;
	list-style-type: none;
	border: 3px solid white;
}
.list:hover .list__cities:not(:hover) {
	opacity: 0.5;
}
.list__cities {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3px solid white;
	font-size: 32px;
	height: 155px;
	width: 25%;
	text-align: center;
}
/*.list__cities:nth-child(1) */
.list__lisbon {
	width: 50%;
	background-color: var(--lisbon-color);
}
.list__paris {
	background-color: var(--paris-color);
}
.list__belgrade {
	background-color: var(--belgrade-color);
}
.list__moscow {
	background-color: var(--moscow-color);
}
.list__tel-aviv {
	background-color: var(--tel-aviv-color);
}
.list__cair {
	background-color: var(--cair-color);
}
.list__NY {
	background-color: var(--NY-color);
}
.list__delhi {
	background-color: var(--delhi-color);
}
.list__san-francisco {
	width: 50%;
	background-color: var(--san-francisco-color);
}
.list__tokyo {
	background-color: var(--tokyo-color);
}
.list__sydney {
	width: 100%;
	background-color: var(--sydney-color);
}
.light {
	opacity: 0.5;
}
.footer__title {
	padding: 35px 0 140px 100px;
}

