$white: #ffffff;
$dark: #262626;

$blog-bg-color: #B07CF7;
$blog-btn-color: #F72B3B;

$text-main-color: #262626;

@function calcRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

$H900: calcRem(90px);
$H800: calcRem(60px);
$H750: calcRem(50px);
$H700: calcRem(40px);
$H600: calcRem(32px);
$H500: calcRem(25px);
$H400: calcRem(21px);
$H300: calcRem(20px);
$H200: calcRem(17px);
$H100: calcRem(16px);
$H50: calcRem(15px);
$H10: calcRem(13px);

$base-font: 'Raleway', sans-serif;

$content-gradient: linear-gradient(0.0deg, rgba(0,0,0,0.89) 0%, rgba(255,255,255,0.89) 100%);
$card-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
$card-shadow-hover: 0 2px 5px rgba(0, 0, 0, 0.5);
$button-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

$max-width: 1200px;

$screen-iphone: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 768px;
$screen-desktop: 1024px;
$screen-desktop-large: 1280px;
$screen-hd: 1366px;
$screen-fullhd: 1440px;
$screen-retina: 1660px;






